<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }

        .invalid-p {
            width: auto;
            padding-left: 25px;
            font-size: large;
            color: red;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p class="invalid-p">Error, fields are filled in incorrectly, please try again</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p class="invalid-p">Error, id must not be empty, please try again</p>
                </td>
                <td th:if="${notBookWithId}">
                    <p class="invalid-p">Error, there is no book with this id, please try again</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeByRegex}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="regex" th:name="queryRegex">
                </td>
                <td>
                    <input type="submit" value="remove by regex">
                </td>
                <td th:if="${invalidId}">
                    <p class="invalid-p">Error, your request does not match any books, please try again</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload"/>
                </td>
                <td>
                    <p class="invalid-p" th:if="${invalidFile}">Error, you have not selected a file, please try again<p/>
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>